.subnav-container {
    gap: 30px;
}

.home-search {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 30px;
    width: 400px;
}

.home-search label {
    white-space: nowrap;
}

.home-search input {
    border: 2px solid var(--color-card-bg);
    border-radius: 8px;
    padding-left: 10px;
}

.home-search input:focus {
    border: 2px solid var(--color-cta-secondary);
    outline: none;
}

.home-tags {
    border: 2px solid var(--color-card-bg);
    border-radius: 8px;
    height: 30px;
    width: 150px;
}

.home-tags:focus {
    border: 2px solid var(--color-cta-secondary);
    outline: none;
}

.card-container:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 14px rgba(0,0,0,0.08);
}

.job-postings-layout {
    justify-content: center;
}

.job-description {
    overflow: hidden;
}

.home-jp-date {
    font-style: italic;
    opacity: 0.7;
    font-size: 0.9rem;
    margin-top: 40px;
    margin-bottom: 0;
}

.home-apply-details-btn {
    padding: 10px;
    width: 50%;
    background-color: var(--color-cta-primary);
    color: white;
}

.home-apply-details-btn:hover {
    background-color: var(--color-cta-secondary);
}

.job-details-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.job-details-info {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 28px 30px 0 30px;
    font-size: 16px;
    line-height: 1.5;
}

.job-info-modal,
.job-description-modal,
.job-tags,
.home-jp-date {
    margin: 0;
}

.job-description-modal {
    white-space: pre-wrap;
}

.home-jp-date {
    font-size: 14px;
    opacity: 0.7;
}

.tag {
    padding: 4px 10px;
    margin-left: 8px;
    border-radius: 12px;
    font-size: 14px;
    font-weight: 500;
}

.job-details-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: auto;
    border-top: 2px solid var(--color-card-shadow);
    padding: 24px 30px 0 30px;
    box-sizing: border-box;
    padding-bottom: 30px;
}

.job-details-footer button {
    width: 200px;
    height: 50px;
    background-color: var(--color-cta-secondary);
    border: 2px solid var(--color-cta-secondary);
    color: white;
}

.job-details-footer button:hover {
    background-color: var(--color-cta-secondary-darker);
    border: 2px solid var(--color-cta-secondary-darker);
}

.job-details-applied-btn {
    opacity: 0.7;
    cursor: not-allowed;
}

.error-message {
    background: var(--color-icon-dark);
    color: var(--color-text-on-dark);
    border: 2px solid var(--color-icon-darker);
    padding: 10px 15px;
    margin-bottom: 15px;
    border-radius: 4px;
    font-size: 14px;
}