.row-container{
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: center;
    background-color: var(--color-card-bg);
    border-bottom: 2px solid var(--color-divider);
    min-height: 4em;
    max-width: 100%;
    padding-left: 3em;
    img{
        width: 3em;
        height: 3em;
        border-radius: 120px;
    }
    h3{
        padding-left: 2em;
    }
    p{
        padding-left: 2em;
        font-size: 1.1em;
    }
}

#important-row-info{
    display: flex;
    align-items: center;
    width: 20%;
}

#row-info-email{
    display: flex;
    align-items: center;
    width: 20%;
}

#row-info-status{
    display: flex;
    align-items: center;
    width: 15%;
}

#row-resume {
    display: flex;
    width: 35%;
    justify-content: right;
}


#row-resume-btn{
    width: auto;
    font-size: 1em;
    color: white;
    background-color: var(--color-cta-primary);
}