.logout-button {
    border-radius: 10px;
    margin: 0 0.5em 0 0.5em;
    padding: 0.5em;
    font-size: 1.10em;
    background-color: var(--color-cta-primary);
}

.header-button-company {
    border-radius: 10px;
    margin: 0 0.5em 0 0.5em;
    padding: 0.5em;
    font-size: 1.10em;
    background-color: var(--color-cta-primary);
}

.header-button-admin {
    border-radius: 10px;
    margin: 0 0.5em 0 0.5em;
    padding: 0.5em;
    font-size: 1.10em;
    background-color: var(--color-cta-secondary);
}
