#dropdown-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 200px;
    position: relative;
    border-radius: 5px;
    align-self: center;
}

.dropdown-button {
    background-color: var(--color-page-bg);
    border-radius: 10px;
    padding: 0 1em 0 1em;
    width: 120px;
    font-size: 20px;
    color: var(--color-title);
}

.dropdown-options {
    position: absolute;
    top: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
}

.dropdown-options.visible {
    opacity: 1;
    visibility: visible;
}