#profile-section {
    display: flex;
}

#dropdown-container {
    display: flex;
    flex-direction: column;
    position: relative;
    align-self: center;
}

.dropdown-button {
    background-color: var(--color-page-bg);
    width: 12em;
    margin-right: 1em;
    padding: 0.5em;
    font-size: 17px;
    color: var(--color-title);
}

.dropdown-options {
    text-align: center;
    position: absolute;
    display: flex;
    margin-left: 1.75em;
    font-size: 1.10em;
    top: 100%;
    width: 8.25em;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
}

.dropdown-options.visible {
    opacity: 1;
    visibility: visible;
}

.dropdown-option-button {
    border-radius: 0px;
    color: antiquewhite;
    background-color: var(--color-cta-primary);
    padding: 0.25em;
}

.dropdown-option-button:hover {
    background-color: var(--color-cta-secondary-darker);
}