#header {
    font-family: 'Times New Roman', Times, serif;
    background-color: var(--color-page-bg);
    border-bottom: solid 0.25em var(--color-divider);
}

#header-container {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    padding: 0.25em 0.5em 0 0.5em; 
    padding-bottom: 0;
    background-color: var(--color-page-bg);
}

#jobly-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 8%;
    padding: 0 0.25em;
    margin: 0.25em;
    color: var(--color-title);
    font-size: 2.5em;
    font-weight: bold;
}

#jobly-title {
    display: inline-block;
}

#jobly-title:hover {
    cursor: pointer;
    color: var(--color-cta-secondary-darker);
    border-bottom: 2px solid var(--color-cta-secondary-darker);
}

#special-navigation-container {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 65%;
    margin: 0.2em 0.5em;
}

#user-navigation-conatainer {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 25%;
    margin: 0.2em 0.5em;
}

a:link {
    text-decoration: none;
    color: antiquewhite;
}

a:visited {
    color: antiquewhite;
}

a:hover {
    cursor: pointer;
}

#breadcrumb-container {
    padding: 0 0.75em 0.3em 0.75em;
    color: var(--color-title);
    margin-top: -0.5em;
}