#header-container {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    padding: 10px;
    border-bottom: solid 1px var(--color-divider);
    background-color: var(--color-page-bg);
    border-radius: 10px;
}

#jobly-container {
    width: 10%;
    padding: 20px 10px 10px 10px;
}

#jobly-container a{
    color: var(--color-title);
    font-size: 30px;
    font-weight: bold;
}

#navigation-container {
    width: 70%;
    margin-left: 1em;
    padding: 1em;
}

#navigation-container a {
    padding: 0.5em;
}

#user-profile {
    display: flex;
    text-align: center;
    width: 20%;
    padding: 1em;
}

#header-logout {
    text-align: center;
    width: 7%;
    padding: 1.7em 0.5em 1em 0em;
}

a:link {
    text-decoration: none;
    color: antiquewhite;
}

a:visited {
    color: antiquewhite;
}

a:hover {
    cursor: pointer;
}