#edit-profile-section {
    display: flex;
    justify-content: center;
}

#edit-profile-form{
    button {
        padding: 0.5em 1.5em 0.5em 1.5em;
        font-size: 0.75em;
        background-color: var(--color-cta-primary);
        color: antiquewhite;
        cursor: pointer;
    }
    button:hover{
        background-color: var(--color-cta-secondary);
    }
    label {
        font-size: 0.75em;
    }
    input {
        margin: 0 0 1em 1em;
        padding: 0.5em 0.5em 0.75em 0.5em;
        border-radius: 10px;
        border: 2px solid grey;
        width: 20em;
    }
    p {
        font-size: 0.8em;
    }
}

.update-section{
    margin: 0em 2em 0.5em -2em;
    padding: 0em 1em 1em 1em;
    font-size: 1.25em;
}

.error-text{
    font-size: 0.65em;
    color: red;
    text-align: center;
}