#edit-profile-section {
    display: flex;
    justify-content: center;
}

#edit-profile-form{
    button {
        padding: 0.5em 1.5em 0.5em 1.5em;
        font-size: 0.75em;
    }

    input {
        margin: 0 0 1em 1em;
        padding: 0.75em 0.5em 0.75em 0.5em;
        border-radius: 10px;
        width: 20em
    }
}

.update-section{
    margin: 0.5em 2em 0.5em -2em;
    padding: 1em 1em 1em 1em;
    background-color: aquamarine;
    font-size: 1.25em;
}
