#edit-profile-section {
    display: flex;
    justify-content: center;
}

#edit-profile-form{
    button {
        padding: 0.5em 1.5em 0.5em 1.5em;
    }
}

.update-section{
    margin: 2em 2em 2em 0;
    padding: 1em 1em 1em 0;
    background-color: aquamarine;
    font-size: 1.25em;
}
