#profile-container {
    display: flex;
    height: 30%;
    padding: 1em;
    gap: 1em;
    background-color: var(--color-divider);
}

#profile-picture-section{
    align-content: center;
    text-align: center;
    width: 20%;
}

#profile-picture-section {
    img {
        width: 14em;
        height: 14em;
        border-radius: 120px;
    }
}

#profile-details {
    color: var(--color-title);
    align-content: center;
    padding-left: 1em;
    width: 80%;
    p {
        font-size: 1.25em;
    }
}

#profile-button-layout {
    p {
        font-size: 1.1em;
        color: red;
    }
}

button {
    padding: 0.5em 1em 0.5em 1em;
    margin-right: 1em;
    width: auto;
    font-size: 1em;
    color: white;
}

#edit-profile{
    background-color: var(--color-cta-secondary-darker);
}

#edit-profile:hover{
    background-color: var(--color-body);
}

#upload-resume{
    background-color: var(--color-cta-primary);
}

#upload-resume:hover{
    background-color: var(--color-cta-secondary);
}

#upload-profile-picture{
    background-color: var(--color-cta-secondary);
}

#upload-profile-picture:hover{
    background-color: var(--color-cta-secondary-darker);
}

#download-resume{
    background-color: #c9834d;
}

#download-resume:hover{
    background-color: var(--color-cta-primary);
}

#applied-to-container{
    padding: 0 5em 0 12em;
    .card-container {
        width: 100%
    }
}

#job-cards{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#applied-to-text {
    color: var(--color-title);
}