#profile-page-layout {
    display: flex;
    flex: 1;
    min-height: 0;
    flex-wrap: wrap;
    overflow: hidden;
}

#profile-sidebar {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    padding-right: 0;
    width: 220px;
    flex-shrink: 0;;
    align-items: center;
    border-right: 2px solid var(--color-divider);
    background-color: var(--color-card-bg);
}

#profile-btn {
    background-color: var(--color-cta-secondary-darker);
    color: var(--color-text-on-dark);
    width: 100%;
}

#profile-btn:hover {
    background-color: var(--color-title);
}

#profile-btn.active {
    background-color: var(--color-cta-primary);
}

#profile-main-content {
    flex: 1;
    min-width: 0;
    display: flex;
    flex-direction: column;

}

#profile-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 1em 2em;
    gap: 1em;
    background-color: var(--color-divider);
}

#profile-picture-section{
    flex: 0 0 14em;
    text-align: center;
}

#profile-picture-section {
    img {
        width: 14em;
        height: 14em;
        border-radius: 120px;
    }
}

#profile-details {
    color: var(--color-title);
    flex: 1 1 20em;
    min-width: 0;
    color: var(--color-title);
    padding-left: 1em;
    p {
        font-size: 1.25em;
    }
}

#profile-button-layout {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75em;
    p {
        font-size: 1.1em;
        color: red;
    }
}

button {
    padding: 0.5em 1em 0.5em 1em;
    margin-right: 1em;
    width: auto;
    font-size: 1em;
    color: white;
}

#edit-profile{
    background-color: var(--color-cta-secondary-darker);
}

#edit-profile:hover{
    background-color: var(--color-body);
}

#upload-resume{
    background-color: var(--color-cta-primary);
}

#upload-resume:hover{
    background-color: var(--color-cta-secondary);
}

#upload-profile-picture{
    background-color: var(--color-cta-secondary);
}

#upload-profile-picture:hover{
    background-color: var(--color-cta-secondary-darker);
}

#download-resume{
    background-color: #c9834d;
}

#download-resume:hover{
    background-color: var(--color-cta-primary);
}

#applied-to-container{
    padding: 0 5em 0 12em;
    .card-container {
        width: 60%
    }
    padding-left: 50px;
}

#job-cards{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#applied-to-text {
    color: var(--color-title);
    padding-left: 10px;
}

#no-applications-message {
    color: var(--color-title);
    padding-left: 10px;
    margin: 0;
}