#upload-pfp-form{
    text-align: center;
}

::file-selector-button {
    padding: 1em 3em 1em 3em;
    border-radius: 10px;
    background-color: var(--color-cta-primary);
    cursor: pointer;
    color: antiquewhite;
    font-size: 1.10em;
}

::file-selector-button:hover{
    background-color: var(--color-cta-secondary);
    cursor: pointer;
}

#submit-pfp {
    margin: 2em 0 2em 0;
    padding: 0.5em 1em 0.5em 1em;
    background-color: var(--color-cta-secondary-darker);
    color: white;
    font-size: 1.10em;
}

#submit-pfp:hover{
    background-color: var(--color-body);
}