.registerPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 100px;
    width: 100%;
    height: 100vh;
    background: var(--color-card-bg);
}

.registerCard {
    width: min(440px, 90vw);
    background: var(--color-card-bg);
    border-radius: 16px;
    padding: 32px 34px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    box-shadow: 0 8px 25px var(--color-icon-dark);
}

.registerCard h2 {
    text-align: center;
    width: auto;
    font-weight: normal;
    margin-bottom: 10px;
}

.roleText {
    font-weight: bold;
}

.registerCard form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.registerCard form section {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
}

.registerCard label {
    font-size: 17px;
    justify-content: center;
}

.registerCard input {
    box-sizing: border-box;
    width: 100%;
    height:32px;
    padding: 0 5px;
    border: 1px solid var(--color-icon-dark);
    border-radius: 8px;
    background: var(--color-card-bg);
}

.registerCard input::placeholder {
    color: #aaa;
}

.registerCard input:focus {
    outline: none;
    border-color: var(--color-cta-secondary);
}

.registerCard button {
    width: 60%;
    height: 48px;
    background: var(--color-cta-primary);
    color: white;
    font-size: 15px;
    font-weight: 600;
    margin-top: 20px;
}

.registerCard button:hover {
    background: var(--color-cta-secondary)
}

.registerCard p {
    margin: 0;
    text-align: center;
    font-size: 15px;
}

.registerCard a {
    color: var(--color-cta-secondary);
    font-weight: 600;
    text-decoration: none;
}

.registerCard a:hover {
    text-decoration: underline;
}
.registerCard .error {
    margin: 0;
    font-size: 15px;
    color: #c0392b;
}
